<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Fotografía
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="center-card">

    <img src="../../../assets/yo.jpeg" class="center-img" />

    <ion-card-header>
      <ion-card-title>
        Nayely del Rocio Ayol Guanoluisa
      </ion-card-title>
    </ion-card-header>

  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button id="fabBtn">
      <ion-icon name="chevron-forward-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-popover trigger="fabBtn" triggerAction="click" side="end" alignment="center" cssClass="mi-popover">
    <ng-template>
      <ion-content class="ion-padding">
        Estudiante de Tecnología Superior en Desarrollo de Software
      </ion-content>
    </ng-template>
  </ion-popover>
</ion-content>